<h1>Oo's home</h1>
<p>Welcom to OO's homepage, here you will see a beautiful map built with javascript and css</p>
<li> About </li>
<li><%= link_to"Blog",oo_path(1)%></li>
<li><%= link_to"slides",oo_path(2)%></li>
<li><%= link_to"Tell your story",oo_path(3)%></li>
<div><%= image_tag("app/assets/images/homepage.jpg") %></div>

